@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

@import url(https://fonts.googleapis.com/css?family=Muli);


body
{
  background-color:blue;
 text-align:center;
}

.pokemon {
  color:red;
  font-family:Muli
}

button {
  font-size:30px;
  font-family:"Source Sans Pro";
  border: 5px solid #000000;

} 
button:hover
{
  background-color:green;
  
}

a {
  color:red;
}